@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #190c92;
}

* { /* o asteristico indica que a fonte de todos os componentes serão open sans, indicado no import*/
    box-sizing: border-box; /* no canal do devsuperior ( youtube) tem explicado o uso de border-box */
    font-family: 'Open Sans', sans-serif;
}

html, body { /* html, body indica que a cor de fundo de todo o projeto será a indica abaixo */
    background-color: #cec8c8;
}

a, a:hover { /* sempre que estiver um link html não vai ficar com decoração de texto, como ex. sublinhado */ 
  text-decoration: none;
  color: unset; /* o link html não terá cor*/
}